#imgindex{
    height: 65%;
    width: 65%;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 130px);
}

@media (max-width: 450px) {
.h-custom {
height: 80%;
}
}
input[type="submit"]{
    background: #2691d9;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background-color: #1966e2;
    transition: .5s;
}